<div class="row mt-3">
  <div class="col-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary me-1" type="submit" [disabled]="form.invalid">Save</button>
          <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" formControlName="name" #name>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <label for="imagePath">Image Path</label><input type="text" class="form-control" id="imagePath"
                                                          name="imagePath" formControlName="imagePath" #imagePath>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <img [src]="imagePath.value" [alt]="name.value" class="img-fluid">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <label for="description">Description</label>
          <textarea type="text" class="form-control" id="description" name="description" rows="6" formControlName="description"></textarea>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12" formArrayName="ingredients">
          <div class="row mt-3" *ngFor="let control of ingredients.controls, let i = index" [formGroupName]="i" >
            <div class="col-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row mt-3 mb-3">
        <div class="col-12">
          <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
        </div>
      </div>
    </form>
  </div>
</div>
